body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;

}
body{
    perspective:500px;
    overflow:hidden;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.htmleaf-container{
    /*margin: 0 auto;*/
}
.logon{
    transform-style:preserve-3d;
    width:300px;
    height:300px;
    position:absolute;
    left:553px;
    top:180px;
    z-index:2;
    transition:8s;
}
.logon:hover{
    transform: translateZ(600px) rotateX(800deg)  rotateY(400deg);
}
.item{
    width:300px;
    height: 300px;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin: auto;
}
.reg{
   width:500px;
    height:400px;
    position:absolute;
    left:453px;
    top:180px;
    z-index:2;
    background:#ffffff;
    opacity:0.9;
    display:none;
    border-radius: 15px;
    background-clip:border-box;
}
@font-face {
    font-family: 'Anders';
    src: url('../font/Anders.ttf');
}
.reg .titleQ{
    width:500px;
    height:100px;
    position:absolute;
    left:153px;
    top:10px;
    font-size:50px;
    font-family:'Anders';
    color:#000;
}
.reg .img{
    position:absolute;
    left:25px;
    top:90px;
}
.reg .ipt1{
     border:0;
     width:218px;
     height:38px;
     position:absolute;
     left:240px;
     top:130px;
     border:1px solid #919185;
     font-size:14px;
     padding-left:10px;
     border-radius: 15px;
     outline:none;

 }
.reg .ipt2{
    border:0;
    width:218px;
    height:38px;
    position:absolute;
    left:240px;
    top:190px;
    border:1px solid #919185;
    font-size:14px;
    padding-left:10px;
    border-radius: 15px;
    outline:none;
}
.reg .btn{
    /*border:0;*/
    width:110px;
    height:37px;
    position:absolute;
    left:340px;
    top:240px;
    border:1px solid #4fa2f7;
    font:18px/37px arial;
    background:#4fa2f7;
    border-radius: 15px;
    color:#fff;
    text-align: center;
    text-decoration: none;
    /*outline:none;*/
}
.reg span {
    color:#000;
    font-size:16px;
    position:absolute;
    left:366px;
    top:280px;
    cursor:pointer;
}
.regBot input{
    border:0;
    width:110px;
    height:36px;
    color:#fff;
    font-size:16px;
}
.regBot .btn1{
    border:1px solid #4fa2f7;
    position:absolute;
    top:335px;
    left:50px;
    border-radius: 15px;
    outline:none;
    background:#4fa2f7;
}
.regBot .btn2{
    border:1px solid #f8ee4f;
    position:absolute;
    top:335px;
    left:195px;
    background:#f8ee4f;
    border-radius: 15px;
    outline:none;
}
.regBot .btn3{
    border:1px solid #f74141;
    position:absolute;
    top:335px;
    left:342px;
    background:#f74141;
    border-radius: 15px;
    outline:none;
}
.reg1{
    width:500px;
    height:400px;
    position:absolute;
    left:453px;
    top:180px;
    z-index:2;
    background:#ffffff;
    opacity:0.9;
    display:none;
    border-radius: 15px;
    background-clip:border-box;
}
.reg1 .titleQ{
    width:500px;
    height:100px;
    position:absolute;
    left:153px;
    top:10px;
    font-size:50px;
    font-family:'Anders';
    color:#000;
}
.tips{
    width:380px;
    height:250px;
    background: #ffffff;
    position:absolute;
    left:523px;
    top:250px;
    z-index:2;
    border:1px solid black;
    display:none;
}
.tips img{
    width:25px;
    height:25px;
    background:#000000;
    position:absolute;
    left:333px;
    top:20px;
    cursor:pointer;
}
.tip{
    text-align:center;
}
.reg1 .img{
    position:absolute;
    left:25px;
    top:90px;
}
.reg1 .ipt1{
    border:0;
    width:218px;
    height:38px;
    position:absolute;
    left:245px;
    top:100px;
    border:1px solid #919185;
    font-size:14px;
    padding-left:10px;
    border-radius: 15px;
    outline:none;
}
.reg1 .ipt2{
    border:0;
    width:218px;
    height:38px;
    position:absolute;
    left:245px;
    top:150px;
    border:1px solid #919185;
    font-size:14px;
    padding-left:10px;
    border-radius: 15px;
    outline:none;
}
.reg1 .ipt3{
    border:0;
    width:218px;
    height:38px;
    position:absolute;
    left:245px;
    top:200px;
    border:1px solid #919185;
    font-size:14px;
    padding-left:10px;
    border-radius: 15px;
    outline:none;
}
.reg1 .email{
    border:0;
    width:218px;
    height:38px;
    position:absolute;
    left:245px;
    top:250px;
    border:1px solid #919185;
    font-size:14px;
    padding-left:10px;
    border-radius: 15px;
    outline:none;
}
.checkQ{
    width:16px;
    height:30px;
    position:absolute;
    left:240px;
    top:293px;
}
.reg1 .btn{
    border:0;
    width:110px;
    height:37px;
    position:absolute;
    left:305px;
    top:350px;
    border:1px solid #10cd69;
    font-size:14px;
    background:#10cd69;
    border-radius: 15px;
    color:#ffffff;
    outline:none;
}
.reg1 span {
    color:#000000;
    font-size:18px;
    position:absolute;
    left:260px;
    top:300px;
}
.reg1 span a{
    text-decoration:none;
}
.reg1 span a:link{
    color:#10cd69;
}
.reg1 span a:visited{
    color:#00BFFF;
}
.reg1 span a:hover{
    color:#00BFFF;
}
.reg1 span a:active{
    color:#f70710;
}
.reg2{
    width:500px;
    height:400px;
    position:absolute;
    left:453px;
    top:180px;
    z-index:2;
    background:#ffffff;
    opacity:0.9;
    display:none;
    border-radius: 15px;
    background-clip:border-box;
}
.reg2 .titleQ{
    width:500px;
    height:100px;
    position:absolute;
    left:153px;
    top:10px;
    font-size:50px;
    font-family:'Anders';
    color:#000;
}
.reg2 .img{
    position:absolute;
    left:25px;
    top:90px;
}
.reg2 .s{
    color:#817d7e;
    font-size:18px;
    display:block;
    width:280px;
    height:80px;
    position:absolute;
    left:200px;
    top:100px;
    text-indent:2em;
}
.reg2 .s1{
    color:#817d7e;
    font-size:18px;
    display:block;
    width:280px;
    height:80px;
    position:absolute;
    left:200px;
    top:200px;
    text-indent:2em;
}
.reg2 #qy1{
    color:#00BFFF;
    display:inline;
    cursor:pointer;
}
/*.reg2 span a{*/
    /*text-decoration:none;*/
/*}*/
/*.reg2 span a:link{*/
    /*color:#f70710;*/
/*}*/
/*.reg2 span a:visited{*/
    /*color:#00BFFF;*/
/*}*/
/*.reg2 span a:hover{*/
    /*color:#00BFFF;*/
/*}*/
/*.reg2 span a:active{*/
/*}*/
.reg2 input{
    border:0;
    width:110px;
    height:37px;
    color:#000000;
    font-size:14px;
}
.reg2 .btn1{
    border:0;
    width:110px;
    height:37px;
    font-size:14px;
    border:1px solid #00BFFF;
    position:absolute;
    left:208px;
    top:283px;
    background:#00BFFF;
    border-radius: 15px;
    color:#ffffff;
    text-align:center;
    line-height:37px;
    outline:none;

    text-decoration:none;
}
.reg2 .btn2{
    border:1px solid #00FF99;
    position:absolute;
    top:283px;
    left:348px;
    background:#00FF99;
    border-radius: 15px;
    color:#ffffff;
    outline:none;
}
.reg3{
    width:500px;
    height:400px;
    position:absolute;
    left:453px;
    top:180px;
    z-index:2;
    background:#ffffff;
    opacity:0.9;
    display:none;
    border-radius: 15px;
    background-clip:border-box;
}
.reg3 .titleQ{
    width:500px;
    height:100px;
    position:absolute;
    left:153px;
    top:10px;
    font-size:50px;
    font-family:'Anders';
    color:#000;
}
.reg3 .img{
    position:absolute;
    left:25px;
    top:90px;
}
.reg3 .ipt1{
    border:0;
    width:218px;
    height:38px;
    position:absolute;
    left:240px;
    top:130px;
    border:1px solid #919185;
    font-size:14px;
    padding-left:10px;
    border-radius: 15px;
    outline:none;
}
.reg3 .ipt2{
    border:0;
    width:138px;
    height:38px;
    position:absolute;
    left:240px;
    top:190px;
    border:1px solid #919185;
    font-size:14px;
    padding-left:10px;
    border-radius: 15px;
    outline:none;
}
.reg3 #btnQY{
    border:0;
    width:105px;
    height:37px;
    position:absolute;
    left:380px;
    top:190px;
    border:1px solid #c6c6c7;
    font-size:14px;
    border-radius: 15px;
    color:#000;
    outline:none;
}
.reg3 .btn2{
    border:0;
    width:200px;
    height:37px;
    position:absolute;
    left:240px;
    top:250px;
    border:1px solid #10cd69;
    font-size:16px;
    background:#10cd69;
    border-radius: 15px;
    color:#ffffff;
    outline:none;
}
.reg4{
    width:500px;
    height:400px;
    position:absolute;
    left:453px;
    top:180px;
    z-index:2;
    background:#ffffff;
    opacity:0.9;
    display:none;
    border-radius: 15px;
    background-clip:border-box;
}
.reg4 .titleQ{
    width:500px;
    height:100px;
    position:absolute;
    left:153px;
    top:10px;
    font-size:50px;
    font-family:'Anders';
    color:#000;
}
.reg4 .img{
    position:absolute;
    left:25px;
    top:90px;
}
.reg4 .ipt1{
    border:0;
    width:218px;
    height:38px;
    position:absolute;
    left:240px;
    top:130px;
    border:1px solid #919185;
    font-size:14px;
    padding-left:10px;
    border-radius: 15px;
    outline:none;
}
.reg4 .ipt2{
    border:0;
    width:138px;
    height:38px;
    position:absolute;
    left:240px;
    top:190px;
    border:1px solid #919185;
    font-size:14px;
    padding-left:10px;
    border-radius: 15px;
    outline:none;
}
.reg4 .ipt3{
    border:0;
    width:218px;
    height:38px;
    position:absolute;
    left:240px;
    top:250px;
    border:1px solid #919185;
    font-size:14px;
    padding-left:10px;
    border-radius: 15px;
    outline:none;
}
.reg4 #btnQ{
    border:0;
    width:105px;
    height:37px;
    position:absolute;
    left:380px;
    top:190px;
    border:1px solid #c6c6c7;
    font-size:14px;
    border-radius: 15px;
    color:#000;
    outline:none;
}
.reg4 .btn2{
    border:0;
    width:200px;
    height:37px;
    position:absolute;
    left:240px;
    top:320px;
    border:1px solid #10cd69;
    font-size:16px;
    background:#10cd69;
    border-radius: 15px;
    color:#ffffff;
    outline:none;
}
.back{
    width:40px;
    height:40px;
    cursor:pointer;
}
.layer{
    width: 298px;
    height: 148px;
    border: 1px solid #777;
    background: #ffffff;
    position: absolute;
    top:222px;
    left: 50%;
    margin-left: -149px;
    color: #8e8e8e;
    text-align: center;
    display: none;
    z-index: 3;
    border-radius: 15px;
    outline:none;
}
.layer h4{
    font-size: 18px;
    color: #000;
    padding-top: 10px;
}
.layer p{
    font-size: 14px;
    padding-top: 15px;
    color:#000;
}
.btn_cls{
    position: absolute;
    top: 14px;
    right: 14px;
    width: 11px;
    height: 11px;
    background: url(../img/x.png) no-repeat;
    cursor: pointer;
}
.msk{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    /*z-index: 2;*/
    border-radius: 15px;
    outline:none;
}
.aQy{
    text-decoration:none;
    position:absolute;
    left:375px;
    top:247px;
    color:#fff;
    /*opacity:0;*/
}
