/* 统一的宽高、margin、padding、浮动、清浮动 */
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.mb64{
	margin-bottom:64px ;
}
.ml22{
	margin-left: 22px;
}
.menu .pt5{
	padding-top: 5px;
	margin-right: 30px;
}
.menu .border30{
	width:30px;
	height:14px;
}
.mr4{
	margin-right:4px ;
}
.campus .mr0{
	margin-right: 0;
}
.box .mr0{
	margin-right: 0;
}
.box .mb0{
	margin-bottom: 0;
}
.box .mb15{
	margin-bottom: 15px;
}
.box .mb16{
	margin-bottom: 16px;
}
.box .height252{
	height: 252px;
}
